<br>
<div class="form-container">
  <form class="example-form">
    <mat-card>
      <h3 class="question-header">Question Set - 1</h3>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Question 1 ?">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Question 2 ?">
      </mat-form-field>
    </mat-card>
    <br>
    <mat-card>
      <h3 class="question-header">Question Set - 2</h3>

      <p>Question 3?</p>
      <mat-checkbox>Answer 1</mat-checkbox>
      <mat-checkbox>Answer 2</mat-checkbox>
      <mat-checkbox>Answer 3</mat-checkbox>

      <p>Question 4?</p>
      <mat-checkbox>Answer 1</mat-checkbox>
      <mat-checkbox>Answer 2</mat-checkbox>
      <mat-checkbox>Answer 3</mat-checkbox>
    </mat-card>
    <br>
    <mat-card *ngIf="showSet">
      <h3 class="question-header">Question Set - 3</h3>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Question 1 ?">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Question 2 ?">
      </mat-form-field>
    </mat-card>
    <button type="submit" mat-raised-button class="submit-btn" color="primary">Submit</button>
  </form>
</div>